# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environment variables
.env
.env.*

# Flask / Django
instance/
webapp.db
*.sqlite3
*.db

# VSCode & JetBrains
.vscode/
.idea/

# Docker
*.pid
*.log
*.tar
*.bak
docker-compose.override.yml
__wsgi__/

# MacOS
.DS_Store

# Git 
.gitignore
.gitattributes

logs/